<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="getLeiCodeInfo_pttBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="getLeiCodeInfo_pttBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://gw.nsd.ru/IOLITE/ClientProxyService"
                binding="basicHttpBinding" bindingConfiguration="getLeiCodeInfo_pttBinding"
                contract="LEIServiceReference.getLeiCodeInfo_ptt" name="getLeiCodeInfo_pt" />
        </client>
    </system.serviceModel>
</configuration>